<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicau.hls.springbootgraduationproject.user.mapper.SupplierMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sicau.hls.springbootgraduationproject.user.entity.Supplier">
        <id column="supplier_id" property="supplierId" />
        <result column="supplier_name" property="supplierName" />
        <result column="type" property="type" />
        <result column="mobile" property="mobile" />
        <result column="address" property="address" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="creator" property="creator" />
        <result column="update_time" property="updateTime" />
        <result column="operator" property="operator" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        supplier_id, supplier_name, type, mobile, address, create_by, create_time, creator, update_time, operator
    </sql>

</mapper>
